{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--
<ul>
    {% for tweet in tweets %}
     
    <h2>{{tweet.nickname}}</h2> 
    <h4>{{tweet.message}}</h4>
    {% endfor%}
</ul>
-->
{% for tweet in tweets %}
<div class="notifications-container">
  <div class="success">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="success-prompt-wrap">
        <p class="success-prompt-heading">{{tweet.username}}</p>
        <div class="success-prompt-prompt">
          <p>{{tweet.message}}</p>
        </div>
        <div class="success-button-container">
          {% if tweet.username == user%}
          <button type="button" class="success-button-main">
            <a href="{%url 'tweet_app:deletetweet' id=tweet.id %}">Delete</a>
          </button>
          {% endif%}
        </div>
      </div>
    </div>
  </div>
</div>

  {% endfor%}


{% endblock%}